<head>
    <style>
      header{
        background: lightblue;
        border: solid blue;
        border-width: 10px 0px 10px 0px;
        margin: 0 auto;
        text-align: center;
      }
       h1{
      font-size: 3em;
      }
      
      .circle{
      height: 250px;
      width: 250px;
      background: blue;
      border-radius: 50%;
      border: 10px solid white;
      display: inline-block;
      }
      
      h3{
        background-color: #ce54c7;
        padding: 15px;
        font-size: 1.5em;
        border-left: 10px solid #d6d5cd;
      }
      
      header, h3{
      color: white;
      font-family: "Arial Black", Gadget, sans-serif;
      }
      
      body{
      font-family: helvetica, arial, san-serif;
      }
      p,ul{
        padding-left: 50px;
        font-size: 1.3em;
        }
      .emoji {
        font-size: 8em;
      }
      p,ul {
        list-style: none;
        padding-left: 50px;
        font-size: 1em;
        }
    </style>
  </head>
  <body>
    <header>
      <div class="circle">
        <div class="emoji">
          &#x1F60E;
        </div>
      </div>
      <br>
      <h1>Tasnime</h1>
      <i>a vet</i><br><br>
    </header> <br>
    <h3>
      &#9737;
      DETAILS:
    </h3>
    <p>Date of Birth: 15 September 2011</p>
     <p>School: Al fadl</p>
     <p>Grade: 8</p>
        <h3> &#9993;
          CONTACT </h3>
          <p>
            ADDRESS: Zone 1, Diepsloot,South Africa|
            phone: +21 23 977 4536
            Email: catlover@gmail.com
        <h3>
          &#9737;
  About me
        </h3>
        <p>
          I love drawing and listening to music
        </p>
        <p>
          My dream is to be a vet
        </p>
        <h3> &#9998;EDUCATION:
        </h3>
        <p>
          2011-2024: East-gate Primary, Boksburg
        </p>
        <h3>&#10004;
          EXPERIENCE
        </h3>
        <p>
          I as born in Tangier
        </p>
        <p>
          I enjoy drawing
        </p>
        <h3>&#9917;
          SKILLS
        </h3>
        <ul>
          <li> I can draw realy well</li>
          <li>I am learning Japanese</li>
        </ul>
            <center>
            &copy; Copyriht 2021 Thandi Ndlovu inc.
            </center> 
       </head>
